    body{
        background-color:azure;
    }
    /* Scrollbar para essa div específica */
    .numeracao_estoque::-webkit-scrollbar {
    width: 12px;
    }

    .numeracao_estoque::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    }

    .numeracao_estoque::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }

    /* Scrollbar para essa div específica */
    .informacaoInferior::-webkit-scrollbar {
    width: 12px;
    }

    .informacaoInferior::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    }

    .informacaoInferior::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }

    /* Scrollbar para essa div específica */
    .Estoques_Torno_Polimento::-webkit-scrollbar {
    width: 12px;
    }

    .Estoques_Torno_Polimento::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    }

    .Estoques_Torno_Polimento::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }

    /* Scrollbar para essa div específica no caso a div opções */
    .estoque_Bnt::-webkit-scrollbar {
    height: 10px; /* Para rolagem horizontal */
    }

    .estoque_Bnt::-webkit-scrollbar-track {
    background: #1f0303;
    border-radius: 10px;
    }

    .estoque_Bnt::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }
   *{
        
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    main{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    /* -------------  Titulos classes  --------------  */
    .tituloPreto{
        color: #000000;
        font-size: 180%;
        font-weight: 550;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .numeracaoFont{
        font-size: 180%;
        color: 	#FFB627;
        padding: 2%;
        margin-left: 3%;
        border-radius: 30px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(0, 109, 119);
    }
    .descricaoFont{
        color: #000000;
        font-size: 180%;
        font-weight: 550;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .fontPedidoEstoque{
        color: #ffffff;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 30px;
        font-size: 250%;
        font-weight: 550;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .fontRed{
        color: red;
        font-weight: 700;
    }
    .fontBlu{
        color: rgb(36, 16, 126);
        font-weight: 700;
    }
    .diamante{
        font-size: 200%;
        padding-bottom: 10px;
    }
    #pedidonaoEncontrado{
        font-size: 0%;
        z-index: 2;
    }

    .semEstoque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}
    .semEstoque h1{
    display: flex;
    align-items: center;
    justify-content: justify;
    font-weight: 700;
    color: rgb(185, 27, 27);
}

    #estoques_Mae{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        overflow-y: auto; /* Permite rolagem vertical */
    }
    
    #opcoes_estoques{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    #opcoes_div{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 15%;
        max-height: 90dvh;

        margin-top: 80px;
        margin-right: 20px;
        padding-right: 10px;
        
        font-size: 150%;
        font-weight: 600;
        color: aliceblue;
    }
    .opcoes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 8dvh;
        width: 100%;
        margin-bottom: 24px;
        
        background-color: rgb(92, 135, 170);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }
    .estoque_Bnt_radio{
        display: none; /* Esconde o input radio */
    }
    .estoque_Bnt{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        color: aliceblue;
        background-color: rgb(105, 53, 53);
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
        font-size: 150%;
        font-weight: 400;
        padding-left: 5px;
        cursor: pointer;
    }
    .estoque_Bnt:hover{
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        background-color: rgb(240,128,128);
        transition: 0.3s;
        transform: scale(105%);
    }
    .radio-selecionado {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        background-color: rgb(240,128,128);
        transition: 0.3s;
    transform: scale(1.05);
    }
    
    .Estoques_Torno_Polimento{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 85%;
        height: 90dvh;

        background-color: rgb(240,128,128);
        border: solid  rgb(240,128,128) 5px;
        overflow-y: auto; /* Permite rolagem vertical */
        
        margin-top: 50px;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 30px;
        margin-left: 20px;
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: relative;
    }
    #Estoques_Torno_Polimento_Sem_estoque{
        display: none;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 85%;
        height: 90dvh;
        
        background-color: rgb(240,128,128);
        border: solid rgb(240,128,128) 5px;
        overflow-y: auto; /* Permite rolagem vertical */
        
        margin-top: 50px;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 30px;
        margin-left: 20px;
        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: relative;
    }
    #Estoques_Torno_Polimento_Sem_estoque h1 {
        color: #000000;
        margin-top: 20%;
        font-size: 300%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 10px;
    }
    
    /*--------------------------------------- Pedidos Carrossel----------------------------------------*/
    .formulario_estoque{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .carrossel{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 0 0 auto;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 10px;
        border-radius: 20px;
        border: solid  #800020 9px;
        width: 95%;
        height: 80vh;
    }


    .carrosselSuperior{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 40%;
        height: 100%;
        border-right: solid #800020 9px;
        background-color: #797979;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .carrossel_div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
        margin-top: 10px;

    }
    .carrosselImg{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-top: 40px;
    }
    #pedido{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 10px;
    }

    .carrosselInferior{
        display: flex;
        align-content:  flex-start;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        height: 100%;
        background-color:rgb(69, 116, 143);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: none  rgb(240,128,128) 5px;
    }
    .carrosselInferior_Polimento{
        display: flex;
        align-content:  flex-start;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        height: 100%;
        background-color:rgb(69, 116, 143);
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    #repor_estoque{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 10%;
        font-size: 250%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #000000;
        margin-top: 2px;
    }
    .numeracao_estoque{
        display: flex;
        align-items: flex-start;    
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
        height: 88%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #000000;
        margin-top: 2px;
    }
    #numeracao{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 26%;
        width: 100%;
        padding-left: 5px;
        margin-top: 2%;
    }
    .divsNumeracaoF{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .divsNumeracaoM{
        width: 100%;
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .informacaoInferior{
        width: 94%;
        height: 80%;
        padding: 15px;
        margin-top: 10px;
        background-color: rgb(197, 209, 244);
        border-radius: 15px;
        border: solid black 5px;
        overflow: auto;
        font-size: 150%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-wrap:wrap;
        margin-left: 3%;
        margin-right: 3%;

    }
    .informacaoInferior h3{
        margin-left: 7%;
    }
    .numeracao{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        color: #ffffff;
        font-weight: 600;
        font-size: 150%;
        background-color: rgb(226, 177, 84);
        margin-bottom: 1%;
        margin-left: 8%;
    }
    .numero{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150%;
        padding: 10px;
        box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
        width: 100%;
    }
    .numero_abastecer{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150%;
        width: 100%;
        -webkit-text-stroke: 0.2px black;  /* Espessura + cor da borda */
    }

    /* Botões de controle do carrossel --------------------------------------------------- */
    .button-container {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    }

    .button-3d {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 6px;
    min-width: 3em;
    min-height: 3em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
    margin: 3%;
    border-radius: 20px;
    }

    .button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 10px 11px;
    transform: translateY(0);
    color: #fff;
    background-image: linear-gradient(145deg, #6a11cb, #2575fc);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: transform 0.3s, border-radius 0.3s, background 10s;
    }

    .button-3d:active .button-top {
    border-radius: 10px 10px 8px 8px / 8px;
    transform: translateY(2px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
    }

    .button-bottom {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 4px;
    border-radius: 20px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    transition: border-radius 0.2s, padding-top 0.2s;
    }

    .button-base {
    position: absolute;
    z-index: 0;
    top: 4px;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
    transition: border-radius 0.2s, padding-top 0.2s;
    }

    .button-3d:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
    }

    .button-3d:active .button-base {
    border-radius: 10px 10px 8px 8px / 8px;
    }
    .material-icons{
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 110%;
    }
