/* Scrollbar para essa div específica */
.informacaoInferior::-webkit-scrollbar {
    width: 12px;
}

.informacaoInferior::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.informacaoInferior::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


#phpDiv {

    flex-direction: row;
    flex-wrap: wrap;
}

/*--------------------------------------- Pedidos Carrossel----------------------------------------*/
#phpmae {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: azure;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: 85px;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 15px;
    box-shadow: 0px 1px 15px 1px rgb(0, 0, 0);
    border: solid #E6C27A 6px;
    width: 400px;
    height: 680px;

}

.flex {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;


    margin-top: -6%;
    margin-bottom: -5%;
    margin-right: 95%;
    padding: 1%;
    border: solid 3px rgb(255, 0, 0);
    border-radius: 10px;
    rotate: -25deg;

    font-size: 180%;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: rgb(0, 0, 0);
    background-color: #ff8502;

    z-index: 3;
}



.carrosselSuperior {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.carrosselImg {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#pedido {
    margin-left: 5px;
    width: 380px;
    height: 40px;
    position: absolute;
    margin-top: 300px;
    z-index: 3;
    cursor: pointer;
}

.caixaSelecao {
    display: flex;
    align-items: center;
    justify-self: center;
    position: absolute;
    flex-direction: column;
    width: 450px;
    height: 320px;
}

.polimentoRadio {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    box-shadow: inset blue;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    width: 85%;
    height: 50%;
    opacity: 15%;
    z-index: 2;
    background: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.polimentoRadio:checked {
    background: blue;
    opacity: 20%;
    border: solid blue 7px;
}

.tornoRadio {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    border: dashed rgb(40, 170, 0) 5px;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    width: 85%;
    height: 49%;
    opacity: 15%;
    z-index: -0;
    background: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.desmarcar {
    display: none;
    cursor: pointer;
}

.tornoRadio:checked {
    background: rgb(40, 170, 0);
    opacity: 25%;
    border: solid rgb(40, 170, 0) 7px;
}

.fontCheckboxTorno {
    font-size: 150%;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 100) 5px;
    position: absolute;
    z-index: 1;
    margin-top: 62%;
    margin-left: 48%;
    opacity: 45%;
}

.fontCheckboxPolimento {
    font-size: 150%;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(100, 100, 100) 5px;
    position: absolute;
    z-index: 1;
    margin-left: 45%;
    opacity: 45%;
}

.carrosselInferior {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: #FAF7F2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
}

#numeracao {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 26%;
    width: 100%;
    padding-left: 5px;
    margin-top: 2%;
}

.divsNumeracaoF {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.divsNumeracaoM {
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btPedidos {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

.informacaoInferior {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-top: 10px;

    background-color: #FAF7F2;
    border: solid #C9A24D 2px;
    box-shadow: 0px 2px 5px #9E7C2F;

    border-radius: 12px;
    overflow: auto;
    font-size: 150%;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap
}

/* -------------  Titulos classes  --------------  */
.tituloPreto {
    color: #000000;
    font-size: 180%;
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.numeracaoFont {
    font-size: 180%;

    background: linear-gradient(135deg,
            #1F6F6A,
            #2F9E99);
    color: #FFF7E6;
    /* letra clara e elegante */

    display: flex;
    /* Faz o background se ajustar ao texto */
    padding: 6px 12px;
    /* Espaçamento interno fixo */
    border-radius: 30px;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descricaoFont {
    color: #000000;
    font-size: 180%;
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pedido {
    margin-right: 5px;
    width: 385px;
    height: 40px;
    position: absolute;
    margin-top: 330px;
    z-index: 3;
    cursor: pointer;
}

.fontPedido {
    color: #000000;
    background-color: #FAF7F2;

    border: solid #C9A24D 2px;
    box-shadow: 2px 2px 5px #9E7C2F;


    padding-left: 5px;
    padding-right: 8px;
    font-size: 140%;
    font-weight: 550;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;

    width: 386px;
    border-radius: 5px;
}

.fontPedido label {
    display: block;
    /* ou inline-block */
    max-width: 100%;
    /* nunca ultrapassa a div pai */

    white-space: nowrap;
    /* não quebra linha */
    overflow: hidden;
    /* esconde o excesso */
    text-overflow: ellipsis;
    /* "..." quando passar do limite */
    text-align: center;
    cursor: pointer;
}

.Pdf_blocos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    font-size: 100%;
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;

    background-color: #eed9b4;
    border: solid #C9A24D 2px;
    box-shadow: 2px 2px 5px #000000;

    width: 100.5px;
    height: 28px;
    cursor: pointer;

}

.Pdf_blocos:hover {
    transition: 0.3s;
    scale: 110%;

}

.PdfAncora {
    color: black;
    padding: 0%;
    text-decoration: none;

}

.fontRed {
    color: red;
    font-weight: 700;
}

.fontBlu {
    color: rgb(36, 16, 126);
    font-weight: 700;
}

.diamante {
    font-size: 100%;
    padding-bottom: 10px;
}

#pedidonaoEncontrado {
    font-size: 0%;
    z-index: 2;
}

@media (max-width:469px) {
    body {
        background-color: azure;
    }

    /* Hover na barra vertical */
    ::-webkit-scrollbar-thumb:hover {
        background: #a82e2e;
    }

    .scroll-box {
        scroll-behavior: smooth;
    }

    * {

        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #cabecalho {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 90px;
        background-color: antiquewhite;
        overflow: auto;
        /* Garante que o menu não "quebre" */
        padding-left: 10px;
        padding-right: 10px;
        z-index: 10;
        flex-direction: column;
    }

    #cabecalho_menu {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .botao {
        background-color: antiquewhite;
        border: 0px;
        padding: 2px;
    }

    .botao:hover {
        transition: 0.5s;
        transform: scale(110%);
        background-color: rgb(247, 94, 94);
        border-radius: 10%;
    }

    .itens {
        width: 50px;
        height: 50px;
        margin-left: 19px;
        margin-right: 19px;
    }

    #larguraSelect {

        border: solid black 3px;
        border-radius: 5px;
        margin-left: 15px;
        width: 100px;
        height: 30px;
        font-size: 120%;
        font-weight: 700;
    }

    .data {
        margin-left: 10px;
        margin-right: 60px;
        border: solid black 3px;
        border-radius: 5px;
        font-size: 150%;
        font-weight: 600;
        height: 30px;
    }

    #enviar {
        display: flex;
        margin-left: 15px;
        background-color: blanchedalmond;
        border: none;
    }

    #enviar:hover {
        background-color: rgb(247, 94, 94);
        padding: 2px;
        border-radius: 10px;
        transition: 0.2s;
    }

    #macarico {
        display: none;
        margin-left: 20px;
    }

    /*--------------------------------------- Pedidos Carrossel----------------------------------------*/
    #phpmae {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: azure;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin-top: 85px;
    }

    .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        flex-direction: column;
        border-radius: 20px;
        width: 85%;
        height: 800px;

        margin-top: 40px;
        margin-bottom: 10px;
        margin-right: 0px
    }




    .carrosselSuperior {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .carrosselImg {
        width: 100%;
        height: 350px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .caixaSelecao {
        display: none;
        align-items: center;
        justify-self: center;
        flex-direction: column;
        width: 100%;
        height: 40%;
    }

    .polimentoRadio {
        display: flex;
        align-items: center;
        justify-self: flex-start;
        border: dashed blue 5px;
        border-radius: 2px;
        appearance: none;
        -webkit-appearance: none;
        width: 85%;
        height: 50%;
        opacity: 15%;
        z-index: 2;
        background: #fff;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .polimentoRadio:checked {
        background: blue;
        opacity: 20%;
        border: solid blue 7px;
    }

    .tornoRadio {
        display: flex;
        align-items: center;
        justify-self: flex-start;
        border: dashed rgb(40, 170, 0) 5px;
        border-radius: 2px;
        appearance: none;
        -webkit-appearance: none;
        width: 85%;
        height: 49%;
        opacity: 15%;
        z-index: 2;
        background: #fff;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .desmarcar {
        display: none;
        cursor: pointer;
    }

    .tornoRadio:checked {
        background: rgb(40, 170, 0);
        opacity: 25%;
        border: solid rgb(40, 170, 0) 7px;
    }

    .fontCheckboxTorno {
        font-size: 150%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(100, 100, 100) 5px;
        position: absolute;
        z-index: 1;
        margin-top: 62%;
        margin-left: 48%;
        opacity: 45%;
    }

    .fontCheckboxPolimento {
        font-size: 150%;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(100, 100, 100) 5px;
        position: absolute;
        z-index: 1;
        margin-left: 45%;
        opacity: 45%;
    }

    .carrosselInferior {
        display: flex;
        align-content: flex-start;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #FAF7F2;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    #numeracao {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 26%;
        width: 100%;
        padding-left: 5px;
        margin-top: 2%;
    }

    .divsNumeracaoF {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .divsNumeracaoM {
        width: 100%;
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .informacaoInferior {
        width: 99%;
        height: 100%;
        padding: 15px;
        margin-top: 20px;
        margin-right: 5%;

        background-color: #FAF7F2;
        border: solid #C9A24D 2px;
        box-shadow: 2px 2px 5px #9E7C2F;

        border-radius: 15px;
        overflow: auto;
        font-size: 150%;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-wrap: wrap
    }

    /* -------------  Titulos classes  --------------  */
    .tituloPreto {
        color: #000000;
        font-size: 180%;
        font-weight: 550;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .numeracaoFont {
        font-size: 180%;

        background: linear-gradient(135deg,
                #1F6F6A,
                #2F9E99);
        font-size: 180%;
        padding: 2%;
        margin-left: 3%;
        border-radius: 30px;
        font-weight: 600;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .descricaoFont {
        color: #000000;
        font-size: 180%;
        font-weight: 550;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .fontPedido {
        color: #000000;
        background-color: #FAF7F2;

        border: solid #C9A24D 2px;
        box-shadow: 2px 2px 5px #9E7C2F;

        width: 100%;
        font-size: 140%;
        font-weight: 550;
        font-family: Verdana, Geneva, Tahoma, sans-serif;


        cursor: pointer;
    }

    .fontRed {
        color: red;
        font-weight: 700;
    }

    .fontBlu {
        color: rgb(36, 16, 126);
        font-weight: 700;
    }

    .diamante {
        font-size: 100%;
        padding-bottom: 10px;
    }

    #pedidonaoEncontrado {
        display: none;
        font-size: 0%;
        z-index: 2;
    }

    #pedido {
        margin-right: 5px;
        width: 80%;
        height: 40px;
        margin-top: 380px;
        z-index: 3;
        cursor: pointer;
    }

    
}


/* Checkboox numeração ---------------------------------- */
.checklist {
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: 100%;
    --height: 130px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    min-width: 50%;
    max-width: 95%;
    margin-top: 15px;
}

.checklist label {
    color: #FFB627;
    position: relative;

    cursor: pointer;
    display: flexbox;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-width: 50%;

    transition: color 0.3s ease;
    margin-right: 20px;
}

.checklist label::before,
.checklist label::after {
    content: "";
    position: absolute;

}

.input_num {
    visibility: hidden;
}

.checklist label::before {
    height: 5px;
    width: 8px;
    left: -27px;
    border-radius: 2px;
    transition: background 0.3s ease;

    margin-left: 1px;
    margin-top: 5px;
    z-index: 5;
}

.checklist label:after {
    height: 4px;
    width: 4px;
    left: -25px;
    border-radius: 50%;
}


.checklist input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

.checklist input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

.checklist input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}

.checklist input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}

.checklist input[type="checkbox"]:checked+label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
}

.checklist input[type="checkbox"]:checked+label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
}

.checklist input[type="checkbox"]:checked+label::after {
    animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
    50% {
        padding-left: 8px;
        padding-right: 0px;
    }

    100% {
        padding-right: 4px;
    }
}

@keyframes slice {
    60% {
        width: 100%;
        left: 4px;
    }

    100% {
        width: 100%;
        left: -2px;
        padding-left: 0;
    }
}

@keyframes check-01 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(45deg);
    }

    100% {
        width: 5px;
        top: 8px;
        transform: rotate(45deg);
    }
}

@keyframes check-02 {
    0% {
        width: 4px;
        top: auto;
        transform: rotate(0);
    }

    50% {
        width: 0px;
        top: auto;
        transform: rotate(0);
    }

    51% {
        width: 0px;
        top: 8px;
        transform: rotate(-45deg);
    }

    100% {
        width: 10px;
        top: 8px;
        transform: rotate(-45deg);
    }
}

@keyframes firework {
    0% {
        opacity: 1;
        box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
    }
}