body{
    background: azure;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#cabecalho{
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que os itens sejam distribuídos */
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.7);
    background-color: antiquewhite;
    overflow-y: hidden; /* Garante que o menu não "quebre" */
    z-index: 10;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#cabecalho_menu{
    display: flex;
    align-items: center;
    justify-content: space-between; /* Garante que os itens sejam distribuídos */
    width: 100%;
    height: 100%;
    
    padding-left: 15px;
    padding-right: 20px;
}
#part_cabecalho_inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.botao{
    background-color: antiquewhite;
    border: 0px;
    padding: 2px;
}
.botao:hover{
    transition: 0.5s;
    transform: scale(110%);
    background-color: rgb(247, 94, 94);
    border-radius: 10%;
}
.itens{
    width: 50px;
    height: 50px;
    margin-left: 19px;
    margin-right: 19px;
}
#larguraSelect{

    border: solid black 3px;
    border-radius: 5px;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    font-size: 120%;
    font-weight: 700;
}
#pesquisa{
    display: flex;
    margin-left: 35px;
}
#pesquisaInput{
    border: solid black 3px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 120%;
    font-weight: 700;
}
#quemRecebeInput{
    border: solid black 3px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-left: 15px;
    font-size: 120%;
    font-weight: 700;
}
#pedidosDiv{
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 120%;
    font-weight: 700;
    margin: 15px;
}
.data{
    margin-left:10px;
    margin-right:10px;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 120%;
    height: 30px;
}
#enviar{
    display: flex; 
    margin-left: 15px;
    font-style: normal;
    font-family: cursive;
    background-color: blanchedalmond;
    border: none;
}
#enviar:hover{
    background-color: rgb(247, 94, 94);
    padding: 2px;
    border-radius: 10px;
    transition: 0.2s;
}
/*--------------------------------------- Checkbooks ----------------------------------------*/
.estoque_esgotado {
    --input-focus: #2d8cf0;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
    }
    .estoque_esgotado span{

        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        margin-top: 3px;
        margin-left: 16px;
        font-size: 150%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .estoque_esgotado input {
    position: absolute;
    opacity: 0;
    }

    .checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
    }

    .estoque_esgotado input:checked ~ .checkmark {
    background-color: var(--input-focus);
    color: var(--span-focus);
    }

    .checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
    }

    .estoque_esgotado input:checked ~ .checkmark:after {
    display: block;
    }

/*--------------------------------------- Pedidos ----------------------------------------*/
#phpmae{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background: azure;
}
#phpDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 90%;
    padding-top: 2%;
}
#php2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    font-size: 90%;
    padding-top: 2%;
    
}
#DivPedido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pedidostexto{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: row;
    margin-top: 82px;
    margin-bottom: 100px;
    padding-left: 3%;
    font-size: 200%;
    background-color: rgb(189, 189, 189);
    border: solid black 5px;
    border-radius: 10px;
    height: 410px;    
    width: 100%;
    overflow: hidden auto; /* vertical escondida, horizontal automática */
      white-space: normal; /* Permite quebra de linha normal */
    word-wrap: break-word; /* Quebra palavras longas se necessário */
}
.pedidosImagem{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 82px;
    margin-bottom: 10px;
    font-size: 150%;
    background-color: rgb(189, 189, 189);
    border: solid black 5px;
    border-radius: 10px;
    height: 410px;    
    width: 95%;
}

.informacaoPedido{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.informacaoSuperior{
    width: 60%;
    height: 100%;
}
.informacaoInferior{
    width: 50%;
    height: 90%;
    padding: 15px;
    margin-top: 20px;
    margin-right: 5%;
    background-color: rgb(197, 209, 244);
    border-radius: 15px;
    border: solid black 5px;
    overflow: auto;
    
}

.Imagem{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
#formlario{
    display: flex;
    flex-direction: row;
}
.titulo_red{
    color: red;
    font-size: 250%;
    font-weight: 700;
}
.font_red{
    color:#800020;
    font-size: 120%;
    font-weight: 700;
}
.font_blu{
    color: #800020;
    font-size: 120%;
    font-weight: 700;
}
.font_blue{
    color: rgb(27, 68, 132);
    font-size: 120%;
    font-weight: 700;
}
.titulo_black{
    color: rgb(0, 0, 0);
    font-size: 250%;
    font-weight: 700;
}
.titulo_pedido{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Pdf{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 60px;
    font-size: 150%;
    font-weight: 700;
    border: solid black 2px;
    color: black;
    border-radius: 10px;
    height: 30px; 
    width: 35%;   
}
.Pdf:hover{
    transition: 0.3s;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    
}
.PdfAncora{
    color: black;
    padding: 35%;
}
.PdfAncora:hover{
    transition: 0.3s;
    color: rgb(255, 255, 255);
}
#imprimir{
    display: flex; 
    align-items: center;
    margin-left: 50px;
}
#pdfImprimir{
    display: flex; 
    align-items: center;
    margin-left: 50px;
}
#bancoDeDados{
    display: none;
}
.btPedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%
}
.font_estoque{   
    font-size: 100%;
    color: 	#FFB627;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
    font-weight: 800;
    background-color: rgb(0, 109, 119);
}
#pedidonaoEncontrado{
    font-size: 0%;
}