* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: azure;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color:rgb(241, 178, 84);
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
}
#logo{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(250, 207, 143);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);

}
#menu_de_cima{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#botao{
    margin: 5px;
    width: 70px;
    height: 55px;
    padding: 10px;
    background-image: url('./img_menu/Config.png'); /* Caminho da sua imagem */
    background-color: rgb(250, 207, 143);
    background-size: 86%; /* Ajusta a imagem para cobrir todo o botão */
    background-repeat: no-repeat;
    background-position: center;
    border: none; /* Remove borda padrão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}
.config:hover{
    transition-duration: 0.5s ;
    transform: scale(130%);
}
.div_deslogar{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
}
/*   deslogar Btn     */
#btnDeslogar {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #f81c1c;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

#btnDeslogar:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

#btnDeslogar:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

#btnDeslogar::before,
#btnDeslogar::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

#btnDeslogar:hover::before,
#btnDeslogar:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  
}

#btnDeslogar:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

#btnDeslogar:hover::after {
  transform: translate(50%, 0) scale(1.1);
}


/*   deslogar Btn     */

#Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin: 30px;
}
#Menu .Menu1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin: 10%;
    font-size: 220%;
    font-weight: 800;
}
.Menu2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin: 0%;
    font-size: 220%;
    font-weight: 800;
}
.B_menu{
    color: black;
    text-decoration: none;
    /*tira o soblinhado da ancora*/
}
.B_menu:hover{
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
    transform: scale(130%);

}
.botaoconfig{
    color: black;
    text-decoration: none;
    /*tira o soblinhado da ancora*/
}

.botaoconfig:hover{
    color: rgb(147, 33, 33);
    transition-duration: 0.5s;
    transform: scale(150%);

}


/*Conteudo*/
#conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding-top: 2%;
    margin: 0%;
}
#ferramentas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
}
.ferramenta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 4%;
    margin-left: 4%;
    color: black;
}
.ferramenta:hover{
    transition-duration: 0.2s ;
    transform: scale(110%);
    color: rgb(147, 33, 33);
}
.ferramenta_img{
    height: 100px ;
    width: 125px;
}

#relogio{
    display: flex;
    justify-content: center;
    padding: 2%;
    font-size: 1000%;
    font-weight: 500;
}
.ponto{
    display: flex;
    text-align: center;
    font-size: 100%;
    font-weight: 500;
    color: rgb(197, 54, 18);
}
#PedidosAncora{
    display: none;
}

#div_config{
   
    flex-direction: column;
    background-color:azure;
    width: 400px;
    height: 500px;
    display: none;
    position: absolute;
    top: 10%;
    border-radius: 10px;
    border: solid rgb(197, 54, 18) 3px;
    padding-top: 1%;
    
}
#fechar{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}
.fechar{
    
    width: 25px;
    height: 23px;
    padding-top: 1px;
    border-radius: 30px;
}
#cor_P{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;

}

#temas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;

    
}
#tema_Claro{
    margin-left: 40px;
}
#php{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 150%;
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: lightblue;
}
#header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color:rgb(241, 178, 84);
}
#logo{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(250, 207, 143);

}
#menu_de_cima{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#botao{
    margin: 5px;
    width: 70px;
    height: 55px;
    padding: 10px;
    background-image: url('./img_menu/Config.png'); /* Caminho da sua imagem */
    background-color: rgb(250, 207, 143);
    background-size: 86%; /* Ajusta a imagem para cobrir todo o botão */
    background-repeat: no-repeat;
    background-position: center;
    border: none; /* Remove borda padrão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}
.config:hover{
    transition-duration: 0.5s ;
    transform: scale(130%);
}
#Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#Menu .Menu1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin: 10%;
    font-size: 220%;
    font-weight: 800;
}
.B_menu{
    color: black;
    text-decoration: none;
    /*tira o soblinhado da ancora*/
}
.B_menu:hover{
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    transform: scale(150%);

}
.botaoconfig{
    color: black;
    text-decoration: none;
    /*tira o soblinhado da ancora*/
}
.botaoconfig:hover{
    color: rgb(147, 33, 33);
    transition-duration: 0.5s;
    transform: scale(150%);

}


/*Conteudo*/
#conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2%;
    margin: 0%;
}
#ferramentas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}
.ferramenta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
}

#relogio{
    display: none;
    justify-content: center;
    padding: 2%;
    font-size: 1000%;
    font-weight: 500;
}
.ponto{
    display: flex;
    text-align: center;
    font-size: 100%;
    font-weight: 500;
    color: rgb(197, 54, 18);
}

#div_config{
   
    flex-direction: column;
    background-color:azure;
    width: 90%;
    height: 500px;
    display: none;
    position: absolute;
    top: 10%;
    border-radius: 10px;
    border: solid rgb(197, 54, 18) 3px;
    padding-top: 1%;
    
}
#fechar{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}
.fechar{
    
    width: 25px;
    height: 23px;
    padding-top: 1px;
    border-radius: 30px;
}
#cor_P{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    font-family: cursive;
}

#temas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-family: cursive;
    
}
#tema_Claro{
    margin-left: 40px;
}
#php{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 150%;
    color: black;
    text-decoration: none;
}
#GravacaoAncora{
    display: none;
}
#TornoAncora{
    display: none;
}
#PedidosAncora{
    display: flex;
}

}
@media (max-height: 600px) {
    #GravacaoAncora{
    display: none;
    }
    #TornoAncora{
        display: none;
    }
    #PedidosAncora{
        display: flex;
    }
}