*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
#cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Garante que os itens sejam distribuídos */
    flex-direction: row;
    width: 100%;
    height: 75px;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    overflow: auto; /* Garante que o menu não "quebre" */
}

.itens{
    width: 50px;
    height: 50px;
    margin-left: 19px;
    margin-right: 19px;  
}
#casa {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-left: 20px; /* Espaço à esquerda */

    height: 100%;
}
#inputs {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    margin-left: 20px; /* Espaço à esquerda */

    height: 100%;
}
