.botao{
    background-color: antiquewhite;
    border: 0px;
    padding: 2px;
}
.botao:hover{
    transition: 0.3s;
    transform: scale(110%);
    background-color: rgb(247, 94, 94);
    border-radius: 10%;
    cursor: pointer;
}

.input_cabecalho{
    margin-left:10px;
    margin-right:10px;
    border: solid black 3px;
    border-radius: 5px;
    font-size: 120%;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}